<html>
  <head></head>
  <body>
    <h1>Hello test</h1>
    <p>Time is [% timestamp %]</p>
    <p>data is [% data %]</p>
    <p>[% FOREACH $key (sort keys(data)) %]
       <br>[% $key = data.$key %]<br>
       [% end %] </p>
  </body>
</html>
